:root {
  --background: #e7f6ff;
  --text-primary: #000613;
  --button-bg: #000613;
  --button-text: #e7f6ff;
}

[data-theme='dark'] {
  --background: #000613;
  --text-primary: #e7f6ff;
  --button-bg: #e7f6ff;
  --button-text: #000613;
}

.light-dark-mode {
  background-color: var(--background);
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container p {
  font-size: 2rem;
  color: var(--text-primary);
}

.container button {
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}
